.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url(../images/cookie.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f7f7f7;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9c47591;
  width: 95%;
}
body header h1 {
  font-size: 2.2em;
  color: #543d31;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9c47591;
  margin: 2em;
}
body .main .show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cookieJar.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  color: #fff;
}
